.DS_Store
.Rhistory
shinyapps/
*.pem
log/
.Rproj.user
*.Rproj
rsconnect/
*_files/
*_cache/
.RData
dashboard/figure/
dashboard/cache/
dashboard/rmarkdown/*.html
reports/*.html
reports/libs
reports/*_cache/
reports/*_files
write-ups/metalab_update/metalab_update_files/
write-ups/metalab_update/*.tex



