@import url(https://fonts.googleapis.com/css?family=Ubuntu);

.main-header .logo {
  font-family: "Ubuntu", sans-serif;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.jumbo {
  font-family: "Ubuntu", sans-serif;
  font-size: 400%;
}

.tab-pane-spaced {
  background: #fff;
  margin-left: 1px;
  padding: 10px 20px;
}

.sidebar-toggle {
  visibility: hidden;
}
